In [15]:
import pandas as pd
data = [[0, 0, 'start', 0.712], [0, 0, 'end', 1.52], [0, 1, 'start', 3.14], [0, 1, 'end', 4.12], [1, 0, 'start', 0.55], [1, 0, 'end', 1.55], [1, 1, 'start', 0.43], [1, 1, 'end', 1.42], [2, 0, 'start', 4.1], [2, 0, 'end', 4.512], [2, 1, 'start', 2.5], [2, 1, 'end', 5]]
activity = pd.DataFrame(data, columns=['machine_id', 'process_id', 'activity_type', 'timestamp']).astype({'machine_id':'Int64', 'process_id':'Int64', 'activity_type':'object', 'timestamp':'Float64'})
avg_start_time = activity[activity['activity_type'] == 'start'].groupby('machine_id')['timestamp'].sum().reset_index(name='avg_start_time')
avg_end_time = activity[activity['activity_type'] == 'end'].groupby('machine_id')['timestamp'].sum().reset_index(name='avg_end_time')
df = avg_end_time.merge(avg_start_time, on=['machine_id'], how='inner')
df['processing_time'] = (df['avg_end_time'] -df['avg_start_time']) / (len(activity['process_id'].value_counts()))
df[['machine_id', 'processing_time']]

   machine_id  processing_time
0           0            0.894
1           1            0.995
2           2            1.456

In [16]:
pivoted = activity.pivot(index=["machine_id", "process_id"], columns='activity_type', values='timestamp')
pivoted['processing_time'] = pivoted['end'] - pivoted['start']
pivoted.groupby('machine_id').processing_time.mean().round(3).reset_index()

   machine_id  processing_time
0           0            0.894
1           1            0.995
2           2            1.456