In [7]:
import pandas as pd
data = [[2, 'Meir', 3000], [3, 'Michael', 3800], [7, 'Addilyn', 7400], [8, 'Juan', 6100], [9, 'Kannon', 7700]]
employees = pd.DataFrame(data, columns=['employee_id', 'name', 'salary']).astype({'employee_id':'int64', 'name':'object', 'salary':'int64'})
employees['bonus'] = employees.apply(lambda x: x['salary'] if (x['employee_id'] %2 !=0) & (x['name'][0] != "M") else 0, axis=1)
employees[['employee_id','bonus']].sort_values('employee_id',ascending= True)

   employee_id  bonus
0            2      0
1            3      0
2            7   7400
3            8      0
4            9   7700