In [6]:
import pandas as pd
data = [[3, 108939], [2, 12747], [8, 87709], [6, 91796]]
accounts = pd.DataFrame(data, columns=['account_id', 'income']).astype({'account_id':'Int64', 'income':'Int64'})
def salary_category(datas, category):
    low_salary_count = 0
    average_salary_count = 0
    high_salary_count = 0
    for i in datas['income'].values:
        if i < 20000:
         low_salary_count = low_salary_count +1
        elif i in range(20000,50001):
         average_salary_count = average_salary_count +1
        else:
          high_salary_count = high_salary_count +1
    if category == 'Low':
      return low_salary_count
    elif category == 'Average':
      return average_salary_count
    else:
      return high_salary_count
         

category_data = [['Low Salary',salary_category(accounts, 'Low')],['Average Salary',salary_category(accounts, 'Average')],['High Salary',salary_category(accounts, 'High')]]
Income_counts = pd.DataFrame(category_data, columns=['category', 'accounts_count']).astype({'category':'object', 'accounts_count':'Int64'})
Income_counts

         category  accounts_count
0      Low Salary               1
1  Average Salary               0
2     High Salary               3

In [8]:
data = [[3, 108939], [2, 12747], [8, 87709], [6, 91796]]
accounts = pd.DataFrame(data, columns=['account_id', 'income']).astype({'account_id':'Int64', 'income':'Int64'})
df =  pd.DataFrame({
        'category': ['Low Salary', 'Average Salary', 'High Salary'],
        'accounts_count': [
            accounts[accounts.income < 20000].shape[0],
            accounts[(accounts.income >= 20000) & (accounts.income <= 50000)].shape[0],
            accounts[accounts.income > 50000].shape[0],
        ]})
df

         category  accounts_count
0      Low Salary               1
1  Average Salary               0
2     High Salary               3