In [36]:
import pandas as pd
data = [[1, 'Joe', 70000, 1], [2, 'Jim', 90000, 1], [3, 'Henry', 80000, 2], [4, 'Sam', 60000, 2], [5, 'Max', 90000, 1]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'departmentId']).astype({'id':'Int64', 'name':'object', 'salary':'Int64', 'departmentId':'Int64'})
data = [[1, 'IT'], [2, 'Sales']]
department = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
employee.groupby('departmentId')['salary'].max().reset_index().merge(department,left_on='departmentId',right_on='id',how='left')[['departmentId','salary','name']].merge(employee, on = ['salary','departmentId'], how='left').rename(columns={'name_x':'Department','name_y':'Employee','salary':'Salary'})[['Department','Employee','Salary']]

  Department Employee  Salary
0         IT      Jim   90000
1         IT      Max   90000
2      Sales    Henry   80000