In [23]:
import pandas as pd
data = [[2, 'Crew'], [4, 'Haven'], [5, 'Kristian']]
employees = pd.DataFrame(data, columns=['employee_id', 'name']).astype({'employee_id':'Int64', 'name':'object'})
data = [[5, 76071], [1, 22517], [4, 63539]]
salaries = pd.DataFrame(data, columns=['employee_id', 'salary']).astype({'employee_id':'Int64', 'salary':'Int64'})
# pd.concat([salaries.merge(employees, on = 'employee_id', how = 'left')[salaries.merge(employees, on = 'employee_id', how = 'left')['name'].isna()][['employee_id']],employees.merge(salaries, on = 'employee_id', how = 'left')[employees.merge(salaries, on = 'employee_id', how = 'left')['salary'].isna()][['employee_id']]]).sort_values('employee_id',ascending=True)
df = salaries.merge(employees, on = 'employee_id', how = 'outer')
df[df['salary'].isna() | df['name'].isna()][['employee_id']].sort_values('employee_id',ascending=True)

   employee_id
0            1
1            2