In [51]:
import pandas as pd
data = [[1, 100, 2008, 10, 5000], [2, 100, 2009, 12, 5000], [7, 200, 2011, 15, 9000]]
sales = pd.DataFrame(data, columns=['sale_id', 'product_id', 'year', 'quantity', 'price']).astype({'sale_id':'Int64', 'product_id':'Int64', 'year':'Int64', 'quantity':'Int64', 'price':'Int64'})
data = [[100, 'Nokia'], [200, 'Apple'], [300, 'Samsung']]
product = pd.DataFrame(data, columns=['product_id', 'product_name']).astype({'product_id':'Int64', 'product_name':'object'})
sales.groupby('product_id')['year'].min().reset_index().merge(sales,on=['product_id','year'],how='inner').rename(columns={'year':'first_year'})[['product_id','first_year','quantity','price']]
# [sales.duplicated(subset='product_id',keep=False)]
# sales.drop_duplicates(subset='product_id',keep=False).product_id.values
# sales[sales.product_id.isin(sales[sales.duplicated(subset='product_id',keep=False)].groupby('product_id')['year'].min().reset_index().product_id.values) | sales.product_id.isin(sales.drop_duplicates(subset='product_id',keep=False).product_id.values)]

   product_id  first_year  quantity  price
0         100        2008        10   5000
1         200        2011        15   9000