In [10]:
import pandas as pd
data = [[1, 'Jhon', '2019-01-01', 100], [2, 'Daniel', '2019-01-02', 110], [3, 'Jade', '2019-01-03', 120], [4, 'Khaled', '2019-01-04', 130], [5, 'Winston', '2019-01-05', 110], [6, 'Elvis', '2019-01-06', 140], [7, 'Anna', '2019-01-07', 150], [8, 'Maria', '2019-01-08', 80], [9, 'Jaze', '2019-01-09', 110], [1, 'Jhon', '2019-01-10', 130], [3, 'Jade', '2019-01-10', 150]]
customer = pd.DataFrame(data, columns=['customer_id', 'name', 'visited_on', 'amount']).astype({'customer_id':'Int64', 'name':'object', 'visited_on':'datetime64[ns]', 'amount':'Int64'})
customer = customer.groupby('visited_on')['amount'].sum().reset_index()
customer['day'] = customer['visited_on'].rank(method='min')
customer['total_amount_during_seven_days'] = customer['amount'].rolling(window=7, min_periods=1).sum()
# customer
customer['average_amount_during_seven_days'] = customer['amount'].rolling(window=7, min_periods=1).mean().round(2)
# customer
customer[customer['day']>6][['visited_on','total_amount_during_seven_days','average_amount_during_seven_days']].rename(columns=({'total_amount_during_seven_days':'amount'}))

  visited_on  amount  average_amount_during_seven_days
6 2019-01-07   860.0                            122.86
7 2019-01-08   840.0                            120.00
8 2019-01-09   840.0                            120.00
9 2019-01-10  1000.0                            142.86