In [43]:
import pandas as pd
data = [[9, 'Hercy', None, 43], [6, 'Alice', 9, 41], [4, 'Bob', 9, 36], [2, 'Winston', None, 37]]
employees = pd.DataFrame(data, columns=['employee_id', 'name', 'reports_to', 'age']).astype({'employee_id':'Int64', 'name':'object', 'reports_to':'Int64', 'age':'Int64'})
managers = employees.merge(employees, left_on='employee_id', right_on='reports_to', how='inner', suffixes=('_manager', '_employee'))
managers = managers.groupby(['name_manager', 'employee_id_manager']).agg(average_age=('age_employee', 'mean'),reports_count=('employee_id_employee', 'count')).reset_index().rename(columns={'name_manager':'name','employee_id_manager':'employee_id'}).sort_values('employee_id')
managers.average_age= (managers.average_age + 1e-12).round(0)
managers[['employee_id', 'name','reports_count','average_age']]

   employee_id   name  reports_count  average_age
0            9  Hercy              2         39.0